*::-webkit-scrollbar-corner {
  display: none;
}

*::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff15;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff30;
  outline-right: 1px solid #ffffff30;
  border-radius: 5px;
}

#viewer li p {
  margin-bottom: 0.2rem !important;
}

#viewer p ~ ol {
  margin-top: -1rem !important;
}

#viewer li pre {
  margin-top: 0 !important;
}

#viewer blockquote p:last-of-type {
  margin-bottom: 0 !important;
}

#viewer .anchor-link {
  text-decoration: none;
  transition: 0.2s ease-in margin-left;
}

#viewer .anchor-link:target,
#viewer .anchor-link:hover,
#viewer .target {
  margin-left: 0 !important;
  /*noinspection CssUnresolvedCustomProperty*/
  color: var(--chakra-colors-orange-400);
}

#viewer .anchor-link:before {
  content: "# ";
  opacity: 0;
  transition: 0.2s ease-in opacity;
}

#viewer .anchor-link:hover:before,
#viewer .anchor-link:target:before,
#viewer .anchor-link:hover:before,
#viewer .target:before {
  content: "# ";
  opacity: 1;
}

html, body {
  height: 100% !important;
  margin: 0px;
}

@media (max-width: 600px) {
  .cm-gutters {
    display: none !important;
  }

  .cm-editor {
    padding-left: 1rem !important;
  }

  .cm-editor {
    border-radius: 0 !important;
  }

  *::-webkit-scrollbar {
    width: 0.25rem !important;
    height: 0.25rem !important;
  }
}

#__next {
  height: 100% !important;
}

.cm-theme{
  height: 100% !important;
}
